@import url('https://fonts.googleapis.com/css?family=Pacifico');
* {
    font-family: helvetica;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#logo {
    width: 60px;
    float: left;
}

/*
#loganame {
    font-family: 'Roboto','sans-serif';
    font-size: 40px;
    font-style: italic;
    font-weight: 800;
    color: dodgerblue
}
*/


.navbar-header, #navbar-collapse, ul{
    background-color:lightgreen
}

.navbar navbar-default affix-top{
    background-color: red;
}
.navbar-brand p {
    font-family: 'Roboto','sans-serif';
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    color: dodgerblue;

}


.hero {
    /* sizing */
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(,0,0,0.7),rgba(0,0,0,0.7));
    height: 50%;
    background: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: skyblue;
}

.hero-text {
   font-family: 'Roboto','sans-serif';
   text-align: left;
   position: absolute;
   top: 30%;
   left: 45%;
   transform: translate(-65%, -50%);
   color: white;
    color: purple;
}
    
.hero-text h1{
    font-weight:bolder;
    text-shadow: 2px 2px white;
}

.item {
    width: auto;
}

.carousel-caption{
    color:yellow;
    font-weight: bold;
}

li a {
    background: lightblue;
    padding: 10px;
    text-decoration: none;
    color: #716A5C;
    border-radius: 20px;
}

#about{
    background-color: lightblue;
}
